* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #f9f5f2;
}


/*-------------------------------------------*/
            /*MAIN SECTION*/
/*-------------------------------------------*/
.main-section{
    width: 100%;
    padding: 30px 0px 40px;
}

.main-section__title{
    padding: 0px 15px;
}

.section-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 45px;
}

.section-subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
}

.main-section__info {
    display: flex;
    padding: 25px 15px 0px;
}

.section-img {
    width: 50%;
}

.section-info {
    width: 50%;
    margin-left: 20px;
}

.section-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.color-1 {
    color: #8E7BEF;
}

.section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8E7BEF;
    margin: 0px 5px;
}

.icon-m {
    color: #FFFFFF;
}

.main-section__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 0px;
}

.button {
    padding: 10px 45px;
    background-color: #8E7BEF;
    color: #FFFFFF;
    text-decoration: none;
}

.icon-mail{
    margin-right: 10px;
}

/*-------------------------------------------*/
            /*SECUNDARY SECTION*/
/*-------------------------------------------*/

.secundary-section {
    width: 100%;
    background-color: #FCDA68;
    padding: 30px 0px 40px;
}

.secundary-section__title{
    padding: 0px 15px;
}

.s-section-title {
    font-size: 32px;
    font-weight: 600;
}

.s-section-text {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin-top: 20px;
}

.s-section-tables {
    padding: 25px 15px 0px;
}

.table {
    margin-top: 20px;
}

.colum-1 {
    padding-right: 20px;
}
.colum-fw {
    font-weight: 600;
}

.table-line {
    height: 1.5px;
    background-color: #423F40;
    width: 100%;
    margin: 10px 0px;
}
.s-section-skills {
    padding: 25px 15px 0px;
}

.s-section-subtitle {
    font-size: 20px;
    font-weight: 600;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    color: #423F40;
}

/*-------------------------------------------*/
            /*PORTFOLIO-SECTION*/
/*-------------------------------------------*/

.portfolio-section {
    width: 100vw;
    padding: 30px 0px 40px;
}

.p-section__title {
    font-size: 32px;
    font-weight: 600;
    padding: 0px 15px;
}


.p-section__projects {
    padding: 0px 15px;
}

.project {
    padding-top: 25px;
}

.project-title {
    font-size: 16px;
    font-weight: 600;
    color: #8E7BEF;
}

.proyect-img {
    width: 100%;
    padding: 0px 15px;
}

/*-------------------------------------------*/
            /*FOOTER*/
/*-------------------------------------------*/

footer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px 40px;
}

.footer__title {
    font-size: 32px;
    font-weight: 600;
}

.footer__contact {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px;
}

.contact-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f9f5f2;
    color: #8E7BEF;
}

.contact-text {
    margin-top: 20px;
    color: #808080;
}

.footer__by {
    padding-top: 25px;
    color: #8E7BEF;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}